@use 'variables' as *

*
  margin: 0
  padding: 0

body
  background: $gray-50
  min-height: 2500px

.main
  display: flex
  align-items: center
  justify-content: center
  width: 100%

  h2
    margin-top: 550px
    font-size: 8rem
    color: pink
