@use 'variables' as *
@use 'utils' as *

*
  margin: 0
  padding: 0

body
  background: $gray-50

.main
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

  h2
    color: pink

    font-size: 4rem

    @media (min-width: $sm)
      font-size: 6rem
    @media (min-width: $md)
      font-size: 7rem
    @media (min-width: $lg)
      font-size: 8rem
